.vscode
*.o
*.fmu
client.exe
literte.exe
plc.dll
*.class
ide_trace_parsing/TraceParsingJNI/*.exp
ide_trace_parsing/TraceParsingJNI/*.lib
ide_trace_parsing/TraceParsingJNI/*.obj
*first_steps.dll
*TraceParsing.exe
literte
*.d
*.out

#CMakeLists.txt
build/
acetao/x86_64/lib/*
acetao/arm_linux/lib/*

celix
*.zip